@charset "utf-8";

/*geral*/
*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body { margin: 0; border: 0; padding: 0; font-family: "helvetica neue", helvetica, arial, sans-serif; font-size: 18px; overflow-x: hidden; color: #333; background: #f3f3f3; }

ul { margin: 0; border: 0; padding: 0; list-style: none; }

a{text-decoration: none;}

.container {width: 100%;}

.center {text-align: center !important;}

.justify{text-align:justify !important;}

.left{text-align:left !important;}

.right{text-align:right !important;}

.marginTopZero{margin-top: 0 !important;}

.marginBottomZero{margin-bottom: 0!important;}

.marginLeftZero{margin-left: 0!important;}

.marginRightZero{margin-right: 0!important;}

.borderZero{border:none !important;}

.paddingZero{padding:0 !important;}

.verticalAlignImg img{vertical-align: middle !important;}

.esfumacado {border: 5px solid white; box-shadow: 0 5px 20px #999999;}

.displayNone{display:none;}

.visibilityHidden{visibility: hidden;}














/*extra-small devices*/
@media screen and (max-width: 480px) {
    .article{float: left; line-height: 35px; width: 100%; margin: 10px 0;}
        .article img{max-width: 100%;}

}


























/*small devices*/
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .article{float: left; line-height: 35px; width: 100%; margin: 20px 0; }
        .article img{max-width: 100%;}
}






























/*medium devices*/
@media only screen and (min-width: 769px) and (max-width: 1199px) {
    .article{float: left; line-height: 35px; width: 100%; margin: 30px 0; }
        .article img{max-width: 100%;}
}
























/*large devices*/
@media only screen and (min-width: 1200px) {
   .article{float: left; line-height: 35px; width: 100%; margin: 30px 0; }
        .article img{max-width: 100%;}

    .suporte{position:fixed; width: 25%; bottom: 0; right: 20px; overflow: hidden; z-index: 100000;}
        .suporte img{max-width: 100%;}
        .suporteTitulo{float:left; width: 100%; text-align: center; padding: 10px 20px; border-radius: 10px 10px 0 0; background: darkgreen; font-weight: 900; color:#FFF; cursor: pointer;}
        .suporteTitulo img{vertical-align: middle; margin-right: 5px;}
        .suporteMensagem{float:left; display: none; width: 100%; height: 200px; background: #FFF; border: 1px solid #CCC; overflow-y: scroll; font-size: 15px; padding: 10px;}
        .suporteFormulario{float:left; display: none; width: 100%; padding: 10px 0; background: #333;}
        .suporteFormulario textarea{float:left; width: 80%; height: 50px; margin: 5px 10%; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
        .suporteFormulario input[type='submit']{float:left; width: 40%; padding: 5px 0; background: #999; font-weight: bold; border:0; border-radius: 5px; cursor: pointer; margin: 0 30% 5px 30%; }
        .suporteAdm{float:left; width: 20%;  margin: 20px 2.5%; padding: 20px 10px; background: #fff; border: 5px solid #FFF; box-shadow: 0 10px 40px #999999;}
        .suporteAdmTopFaixa{float:left; width: 100%; margin: 0 0 20px 0; padding: 20px !important; background: #333; border-bottom: 2px solid #FFF; box-shadow: 0 10px 40px #999999;}
        .suporteAdmTopFaixa img{margin: 0 5px;}
        #suporteUsu{float:left; width: 86%; margin: 3px 14% 3px 0; color:#333; background: #ccc; border-radius: 5px; padding: 10px;}
        #suporteSup{float:left; width: 86%; margin: 3px 0 3px 14%; padding: 10px; color:#333; background: #93FF93; border-radius: 5px;}
}